{% extends 'base.html' %}
{% load static %}

{% block title %}
<h1>Lista de Personagens</h1>
{% endblock title %}

{% block actions %}
<a href="{% url 'personagem_form' %}" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">Novo Personagem</span>
</a>
{% endblock actions %}

{% block content %}
{% for obj in object_list %}
    <div class="col-xl-3 col-sm-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h4 mb-2 font-weight-bold text-gray-800">{{ obj.nome }}</div>
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Idade: <span class="text-gray-800">{{ obj.idade }}</span>
                        </div>
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Sexo: <span class="text-gray-800">{{ obj.get_sexo_display }}</span>
                        </div>
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Profissão: <span class="text-gray-800">{{ obj.profissao }}</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        {% if obj.imagem_perfil %}
                        <img src="{{ obj.imagem_perfil.url }}" height="150px" class="rounded center-cropped" alt="Imagem Personagem">
                        {% else %}
                        <img src="{% static 'images/personagem_sem_imagem.jpg' %}" height="150px" class="rounded center-cropped" alt="Imagem Personagem">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between">
                    <a href="{% url 'personagem_form' pk=obj.pk %}" class="btn btn-primary col-5 mx-1">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                    <a href="{% url 'personagem_detail' pk=obj.pk %}" class="btn btn-secondary col-5 mx-1">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">Detalhes</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock content %}
