{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<h1>Lista de Personagens</h1>
{% endblock title %}

{% block actions %}
<a href="{% url 'personagem_form' %}" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">Novo Personagem</span>
</a>
{% endblock actions %}

{% block content %}
<form method="GET" class="row col-12 offset-xs-4 my-4">
    <div id="accordion" class="col-12">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
                        Filtros...
                    </button>
                </h5>
            </div>
      
            <div id="collapseFilter" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body row align-items-end">
                    <div class="col-md-6">
                        <label class="h5 text-primary" for="{{ filter.form.nome__icontains.id_for_label }}">Nome</label>
                        {% render_field filter.form.nome__icontains class="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label class="h5 text-primary" for="{{ filter.form.sexo.id_for_label }}">Sexo</label>
                        {% render_field filter.form.sexo class="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label class="h5 text-primary" for="{{ filter.form.profissao__icontains.id_for_label }}">Profissão</label>
                        {% render_field filter.form.profissao__icontains class="form-control" %}
                    </div>
                    <div class="col-md-6">
                        <label class="h5 text-primary" for="{{ filter.form.tendencia.id_for_label }}">Tendência</label>
                        {% render_field filter.form.tendencia class="form-control" %}
                    </div>
                    <div class="col-6">
                        <label class="h5 text-primary" for="{{ filter.form.idade__lte.id_for_label }}">Idade menor ou igual</label>
                        {% render_field filter.form.idade__lte class="form-control" %}
                    </div>
                    <div class="col-6">
                        <label class="h5 text-primary" for="{{ filter.form.idade__gte.id_for_label }}">Idade maior ou igual</label>
                        {% render_field filter.form.idade__gte class="form-control" %}
                    </div>
                    <div class="mt-3 ml-auto mr-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                            Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% for obj in filter.qs %}
    <div class="col-xl-4 col-lg-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h4 mb-2 font-weight-bold text-gray-800">{{ obj.nome }}</div>
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Idade: <span class="text-gray-800">{{ obj.idade }}</span>
                        </div>
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Sexo: <span class="text-gray-800">{{ obj.get_sexo_display }}</span>
                        </div>
                        <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">
                            Profissão: <span class="text-gray-800">{{ obj.profissao }}</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        {% if obj.imagem %}
                        <img src="{{ obj.imagem.url }}" height="150px" class="rounded center-cropped" alt="Imagem Personagem">
                        {% else %}
                        <img src="{% static 'images/personagem_sem_imagem.jpg' %}" height="150px" class="rounded center-cropped" alt="Imagem Personagem">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-between">
                    <a href="{% url 'personagem_form' pk=obj.pk %}" class="btn btn-primary col-5 mx-1">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Editar</span>
                    </a>
                    <a href="{% url 'personagem_detail' pk=obj.pk %}" class="btn btn-secondary col-5 mx-1">
                        <span class="icon text-white-50">
                            <i class="fas fa-info-circle"></i>
                        </span>
                        <span class="text">Detalhes</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row col-12 justify-content-center">
        {% include 'pagination.html' %}
    </div>
{% endblock content %}
