.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100px;
    width: 100px;
}

.btn-twitch {
    background-color: #6441a5 !important;
}

.invalid-feedback {
    display: block !important;
}
